.product-item-star {
    color: #d26e4b;
    font-size: 1.3rem;
    margin: 8px 0;
}

.img {
    height: 16px;
}

.img + .img {
    margin-left: 8px;
}

.yellow {
    color: yellow;
}
.white {
    color: #ededed;
}
