.search {
    max-width: 720px;
    width: 60%;
    height: 36px;
    display: flex;
}

.search-wrap {
    width: 100%;
    border: 1px solid #dddddd;
    box-shadow: -0.2px -0.2px 1.2px 1.2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.search-wrap:hover {
    box-shadow: none;
}

.search-input {
    width: 90%;
    height: 34px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--black-color);
    margin: 0 16px;
    border-radius: 2px;
}

.search-suggest {
    max-width: 720px;
    width: 720px;
    background-color: var(--white-color);
    animation: fadeIn ease-in 0.2s;
    will-change: opacity;
    z-index: 1;
}

.search-suggest-list {
    list-style: none;
    overflow: hidden;
    margin-left: 0;
    font-size: 1.4rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0 1px 1px 1px;
    border-radius: 2px;
    box-shadow: 0 -0.2px 1.2px 1.2px rgba(0, 0, 0, 0.05);
}

.search-suggest-item {
    width: 100%;
    padding-left: 16px;
    height: 36px;
    line-height: 36px;
    transition: linear 0.1s;
}

.search-suggest-item:hover {
    background-color: #ccc;
    color: var(--primary-color);
}

.search-suggest-item-label {
    text-decoration: none;
    display: block;
    color: var(--black-color);
}

.search-submit {
    font-size: 1.4rem;
    padding: 11px 12px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.img{
    height: 100%;
}