@import '../../components/GlobalStyles/GlobalStyles.module.scss';

@media (min-width: 1024px) {
}

/* Tablet & Mobile */

@media (max-width: 1023px) {
    .grid__full-width--mobile {
        width: 100% !important;
    }
    .content-text {
        color: var(--black-color);
    }
}

/* Tablet */

@media (min-width: 741px) and (max-width: 1023px) {
    .grid {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
    .fix-img-75 {
        padding-top: 100% !important;
    }
    .grid__column-2 {
        width: 100% !important;
    }
    .grid__column-2-3 {
        width: 100% !important;
    }
    .grid__column-3 {
        width: calc(100% / 2) !important;
    }
    .grid__column-4 {
        width: calc(100% / 3) !important;
    }
    .services {
        flex-direction: column !important;
        line-height: 4rem !important;
    }
    .footer--tablet {
        width: 100% !important;
    }
}

/* Mobile */

@media (max-width: 740px) {
    .grid {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .fix-img-75,
    .fix-img-full {
        padding-top: 50% !important;
    }
    .grid__column-2 {
        width: 100% !important;
    }
    .grid__column-2-3 {
        width: 100% !important;
    }
    .grid__column-3 {
        width: 100% !important;
    }
    .grid__column-4 {
        width: calc(100% / 2) !important;
    }
    .services {
        flex-direction: column !important;
        line-height: 4rem !important;
    }
    .sale__ao-so-mi:hover .sale__ao-so-mi-img {
        background-position-y: 53% !important;
    }
    .sale__ao-so-mi-img {
        background-position-y: 30% !important;
        transition: background-position-y linear 0.6s !important;
    }
    .description {
        height: auto !important;
        display: block !important;
        max-height: none !important;
        overflow: auto !important;
    }
    .description-img {
        min-height: 300px !important;
    }
    .description-content {
        padding: 24px 32px 0 !important;
    }
    .mobile-menu > span {
        display: none !important;
    }
    .content {
        max-width: 80% !important;
    }
    .content-option {
        flex-direction: column !important;
        justify-content: center !important;
    }
    .content-buy {
        margin-right: 0 !important;
    }
    .promotion {
        height: 390px !important;
    }
    .promotion-img,
    .sell-to-day__item-img {
        padding-top: 120% !important;
    }
    .description-content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (max-width: 420px) {
    .grid__column-4 {
        width: 100% !important;
    }
    .services-label {
        margin: 0 12px !important;
    }
    .services {
        padding: 24px 12px !important;
    }
    .mobile-menu {
        margin-left: 0 !important;
    }
}

@media (max-width: 340px) {
    .grid {
        padding: 0 !important;
    }
    .services-label {
        margin: 0 !important;
    }
    .services {
        padding: 24px 0px !important;
    }
    .sell-to-day__item-price {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        line-height: 2.7rem !important;
    }
    .sell-to-day__item-sell {
        flex-direction: column !important;
        align-items: center !important;
        line-height: 2rem !important;
    }
    .sell-to-day__item-buy {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        line-height: 4rem !important;
    }
    .sale__ao-so-mi-shock {
        top: calc(50% - 42px) !important;
        left: calc(50% - 72px) !important;
    }
    .sale__ao-so-mi-label--shock {
        font-size: 1.4rem !important;
    }
    .btn-circle {
        padding: 8px 20px !important;
    }
    .sale__ao-so-mi-label {
        font-size: 1.4rem !important;
    }
    .sale__ao-so-mi-describe {
        font-size: 1.2rem !important;
    }
    .description-content {
        padding: 24px 0 0 !important;
    }
    .hold {
        height: 338px !important;
    }
}
