@import './Responsive.module.scss';

.footer {
    background-color: var(--primary-color);
}

.footer__info {
    width: 100%;
}

.footer__info-title {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.line-strong {
    width: 32px;
    height: 4px;
    background-color: rgba(204, 204, 204, 0.5);
    margin-bottom: 12px;
}

.footer__info-item {
    margin-left: 12px;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-start;
}

.footer__info-policy {
    padding-left: 24px;
    padding-right: 24px;
}

.footer__info-icon-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__info-icon {
    padding-bottom: 8px;
    margin-right: 4px;
    line-height: 2rem;
    color: var(--text-color);
}

.footer__info-label {
    width: 100%;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 16px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.footer__info-label:hover {
    opacity: 0.8;
}

.footer__info-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__info-label,
.footer__info-img {
    margin-left: 12px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    background-color: #3191cc;
    padding-bottom: 16px;
    font-size: 1.5rem;
    color: var(--white-color);
}

