.wrapper {
    display: flex;
    justify-content: space-between;
    height: 86px;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: transparent;
}

.img {
    max-width: 240px;
    height: 56px;
}

@import '../../../../components/GlobalStyles/GlobalStyles.module.scss';
